
body{
    margin:0; 
}

body * {
    box-sizing: border-box; 
    
}


.menu_link{
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Vollkorn', serif;
}





/*Accueil*/ 

.changement-langue{
    border:solid; 
    display:inline-block; 
}

.changement-langue a{
    width: 20%;
    border: solid;
}

.changement-langue a img{
    width: 20%;
    border: solid;
}

.contenu-accueil{
    z-index: 2;
    color: white;
    width: 100vw;
    height:100%; 
    border: solid yellow;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contenu-accueil-main{
    border: solid;
    width: 100vw;
    height: 100vh;

    position: relative;

}



.image-accueil{
    height:100%; 
    width:100%;
    filter: brightness(50%) contrast(130%); 
    position:absolute; 
    z-index:-1; 
}


.logoPrincipal{
    width:10%; 
}

.logoPrincipal img{
    width:100%; 
}


.menu{
    border: solid;
    display: flex;
    justify-content: space-around;
}