


.menu_link{
    font-family: 'Ubuntu', sans-serif;
}

p{
    font-family: 'Vollkorn', serif;
}








/*Accueil*/ 

.changement-langue{
    border:solid; 
    display:inline-block; 
}

.changement-langue a{
    width: 20%;
    border: solid;
}

.changement-langue a img{
    width: 20%;
    border: solid;
}

.logoPrincipal{
    width:10%; 
}

.logoPrincipal img{
    width:100%; 
}


.menu{
    border: solid;
    display: flex;
    justify-content: space-around;
}